<meta charset="UTF-8">
<extend name='./Public/Tpl/Admin_index.html' />
<block name="main"> <script type="text/javascript"
	src="__PUBLIC__/JS/css-browser-select.js"></script>
<div class="div_from_aoto" style="width: 1000px;">
	<div class='lyq-term'>
		<div role="tabpanel" class="tab-pane" id="user">
			<div class="check-div form-inline">
				<div class="col-xs-3">
					<button class="btn btn-yellow btn-xs" data-toggle="modal"
						data-target="#addUser">添加用户</button>
				</div>
				<div class="col-xs-4">
					<input type="text" class="form-control input-sm"
						placeholder="输入文字搜索">
					<button class="btn btn-white btn-xs ">查 询</button>
				</div>
				<div class="col-lg-3 col-lg-offset-2 col-xs-4"
					style="padding-right: 40px; text-align: right;">
					<label for="paixu">排序:&nbsp;</label> <select class=" form-control">
						<option>地区</option>
						<option>地区</option>
						<option>班期</option>
						<option>性别</option>
						<option>年龄</option>
						<option>份数</option>
					</select>
				</div>
			</div>

			<div class="data-div">
				<div class="row tableHeader">
					<div class="col-xs-2 ">用户名</div>
					<div class="col-xs-2">地区</div>
					<div class="col-xs-2">真实姓名</div>
					<div class="col-xs-2">电话</div>
					<div class="col-xs-2">状态</div>
					<div class="col-xs-2">操作</div>
				</div>
				<div class="tablebody">

					<div class="row">
						<div class="col-xs-2 ">goodmoning</div>
						<div class="col-xs-2">国际关系地区</div>
						<div class="col-xs-2">李豆豆</div>
						<div class="col-xs-2">13688889999</div>
						<div class="col-xs-2">状态</div>
						<div class="col-xs-2">
							<button class="btn btn-success btn-xs" data-toggle="modal"
								data-target="#reviseUser">修改</button>
							<button class="btn btn-danger btn-xs" data-toggle="modal"
								data-target="#deleteUser">删除</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="quotes">{$page}</div>
<script type="text/javascript">
	$('.tableCell').click(
			function() {
				$(this).addClass('recommended').siblings().removeClass(
						'recommended').children().children('.price3')
						.removeClass('price3').addClass('price1');
				$(this).children().children('.price1').addClass('price3')
						.removeClass('price1');
				var par = $(this).attr('par');
				$("td[par='" + par + "']").addClass('recommended').siblings()
						.removeClass('recommended');
			});
	$('.signUpButton').click(function() {
		var par = $(this).parent().attr('par');
		var url = $(this).attr('href');
		url = url + '?userid=' + par;
		$(this).attr('href', url);
	});
</script> </block>

<block name="type">用户列表</block>