@CHARSET "UTF-8";
.yue-stagemenu{width:300px;margin:0 auto;background:white;margin-top:100px;border-radius:5px;box-shadow:0 0 5px #DDD;position:absolute;display:none}
.yue-stagemenu .yue-stagemenu-head{width:100%;padding:10px 0;border-bottom:1px solid #DDD}
.yue-stagemenu .yue-stagemenu-head span:first-child{margin-left:120px;}
.yue-stagemenu .yue-stagemenu-head i{margin-left:80px;cursor:pointer}
.yue-stagemenu .yue-stagemenu-content ul li{text-indent:10px;padding:10px 0;cursor:pointer;}
.yue-stagemenu .yue-stagemenu-content ul li:hover{background:#DDD}

/*阶段菜单*/
.yue-stagemenu .yue-stagemenu-edit .yue-stageedit-head{padding:10px 0;border-bottom:1px solid #DDD}
.yue-stagemenu .yue-stagemenu-edit .yue-stageedit-head *:first-child{margin-left:10px;cursor:pointer}
.yue-stagemenu .yue-stagemenu-edit .yue-stageedit-head *:nth-child(2){margin-left:100px;}
.yue-stagemenu .yue-stagemenu-edit .yue-stageedit-head *:nth-child(3){margin-left:80px;cursor:pointer}
.yue-stagemenu .yue-stagemenu-edit{width:100%;padding-bottom:10px;}
.yue-stagemenu .yue-stagemenu-edit input{width:90%;height:40px;margin-left:15px;border-radius:5px;border:1px solid gray;font-size:15px;font-family:微软雅黑;margin-top:10px;}
.yue-stagemenu .yue-stagemenu-edit div#stage-Save{width:60px;height:30px;margin-top:10px;background:#03A9F4;text-align:center;line-height:30px;color:white;border-radius:5px;float:right;margin-right:10px;cursor:pointer;}
#stage-Edit{display:none;}


.yue-menban .yue-Task-Add{width:300px;background:white;margin:0 auto;margin-top:100px;border-radius:5px;}
.yue-menban .yue-Task-Add .yue-Task-Add-head{padding:10px 0;border-bottom:1px solid #DDD}
.yue-menban .yue-Task-Add .yue-Task-Add-head span{margin-left:115px;}
.yue-menban .yue-Task-Add .yue-Task-Add-head i{margin-left:90px;cursor:pointer;}
.yue-menban .yue-Task-Add .yue-Task-Add-form{width:100%;padding-bottom:10px;border-bottom:1px solid #DDD}
.yue-menban .yue-Task-Add .yue-Task-Add-form textarea{width:90%;max-width:90%;height:50px;min-width:90%;margin-left:15px;border-radius:5px;border:1px solid gray;margin-top:10px;}
.yue-menban .yue-Task-Add .yue-Task-Add-form .task-Add-handler{width:90%;margin-left:15px;font-size:14px;font-family:微软雅黑;padding:5px 0;border-bottom:1px solid #DDD}
.yue-menban .yue-Task-Add .yue-Task-Add-form .task-Add-handler img{width:25px;border-radius:15px;position:relative;top:5px;}
.yue-menban .yue-Task-Add .yue-Task-Add-form > div{width:90%;margin-left:15px;padding:5px 0;border-bottom:1px solid #DDD}
.yue-menban .yue-Task-Add .yue-Task-Add-form .task-Add-Participator{width:90%;margin-left:15px;padding:5px 0;border-bottom:1px solid #DDD}
.yue-menban .yue-Task-Add .yue-Task-Add-form .task-Add-Participator div:first-child img{width:25px;height:25px;border-radius:15px;position:relative;top:3px;}
#task-Add-Stoptime:hover{color:#03A9F4;cursor:pointer}
#task-Add-Priority:hover{color:#03A9F4;cursor:pointer}
#task-Add-create{color:white;padding:5px 10px;width:40px;;background:#03A9F4;text-align:center;border-radius:5px;margin-left:230px;cursor:pointer;}

#stage-Add{display:none;}
.stage-btn{width:60px;height:30px;margin-top:10px;background:#03A9F4;text-align:center;line-height:30px;color:white;border-radius:5px;float:right;margin-right:10px;cursor:pointer;}
