@CHARSET "UTF-8";
	#div_search{position: fixed;top:52px;display: none;height: 100%;width: 100%;background: #EEE;}
	#div_search .search_d1{width:900px;height:46px;border:1px solid #EEE;background: white;margin:0 auto;margin-top: 30px;border-radius: 5px;}
	#div_search .search_d1 .search_text{border-radius:5px;width: 820px;height: 46px;float: left;border:0px;font-size: 20px;font-family:微软雅黑;}
	#div_search .search_d1 .search_btn{width: 80px;height: 46px;float: left;text-align: center;line-height: 40px;font-family:微软雅黑;background-image:url(../images/search_btn.png);}
	.cyq-searchLeft{width: 39.9%;height:100%;float: left;border-top: 1px solid #EEEEEE;border-right:1px solid #EEEEEE;}
	.cyq-searchRight{width: 60%;height:100%;float: left;border-top: 1px solid #EEEEEE;}


/*分享墙*/
	#cyq-shareWall{width: 1100px;height: 95%;background: white;margin: 0 auto;margin-top: 20px;border-radius: 5px;position: relative;font-family:微软雅黑;}
	/*left*/
	#cyq-shareWall .cyq-shareLeft{width: 330px;height: 100%;border-right:1px solid lightgray;float: left;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd{width: 330px;height: 50px;border-bottom: 1px solid lightgray;line-height: 50px;font-size: 18px;color: gray;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-sharePlus{float: left;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-sharePlus .a1{margin:0 10px;font-size: 18px;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-sharePlus .a1:hover{color: #03A9F4;cursor: pointer;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-sharePlus .a2{margin-left:50px;color: #03A9F4;font-size: 18px;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-sharePlus .a2:hover{color: #0286C2;cursor: pointer;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .cyq-shareAngle{width: 30px;height: 21px;line-height: 10px;text-align: center;float: right;margin-right: 20px;margin-top: 15px;border-left: 1px solid #E2E2E2;font-family:微软雅黑;font-size: 18px;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .angle{color: gray;font-size: 18px;}
	#cyq-shareWall .cyq-shareLeft .cyq-shareAdd .angle:hover{color: #03A9F4;cursor: pointer;}


	#cyq-shareWall .cyq-shareLeft #cyq-shareText{cursor: pointer;}
	#cyq-shareWall .cyq-shareLeft #cyq-shareText .cyq-titleHead{width: 330px;height: 80px;background:white;border-bottom: 1px solid #EEEEEE;line-height: 80px}
	#cyq-shareWall .cyq-shareLeft #cyq-shareText .cyq-titleHead .cyq-head img{width: 30px;height: 30px;border-radius: 15px;margin-left:10px;float: left;margin-top: 20px;overflow: hidden;text-align: center;}
	#cyq-shareWall .cyq-shareLeft #cyq-shareText .cyq-titleHead .cyq-inform{float: left;width: 280px;line-height: 20px;margin-top: 10px;margin-left: 10px;font-size: 14px;}
	#cyq-shareWall .cyq-shareLeft #cyq-shareText .cyq-titleHead .cyq-inform .cyq-headText{color: #03A9F4;}
	#cyq-shareWall .cyq-shareLeft #cyq-shareText .cyq-titleHead .cyq-inform .cyq-headDate{color: #A6A6A6;}

	/*right*/
	#cyq-shareWall .cyq-shareRight{overflow: hidden;overflow-y:scroll;float: left;width: 740px; margin-left: 15px;overflow: hidden;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMsg{width: 740px;height: 100px;margin: 20px auto;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMsg .title{float: left;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMsg .more{cursor: pointer;float: right;margin-right:25px;color: #A6A6A6;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMsg .more:hover{color: #03A9F4;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMsg .article{width: 720px;margin: 0 auto;margin-top:10px;color: #4D4D4D;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas{overflow: hidden;width: 730px;height: 350px;margin: 0 auto;border:1px solid #E6E6E6;box-shadow: 1px 1px 5px #EEE;border-radius: 5px;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-party{width: 715px;height: 80px;border-bottom: 1px solid #F3F3F3;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-sport{width: 730px;height: 40px;border-bottom: 1px solid #F3F3F3;margin-top: 15px}
	
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-party{font-size: 12px;font-weight:bold;color:#808080;margin-top: 15px;padding-left: 20px}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-party .cyq-head img{cursor: pointer;width: 30px;height: 30px;border-radius: 15px;float: left;margin-top: 10px;margin-left: 12px;overflow: hidden;text-align: center;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-party .cyq-circle{cursor: pointer;float: left;color:#03A9F4;font-size: 30px;margin-top: 8px}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-sport .cyq-thumbs a{cursor: pointer;float: left;color:#A6A6A6;font-size: 18px;margin-left: 20px}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-sport a{color:#A6A6A6;font-size: 18px;margin-left: 10px}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-titleMain{overflow: hidden;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-titleMain ul{margin-left: 20px;margin-top:10px;line-height: 30px;color:#A6A6A6;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-titleMain ul li{width: 680px;font-size: 14px;}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-titleMain ul li a:first-child{margin-right: 20px}
	#cyq-shareWall .cyq-shareRight .cyq-shareMas .cyq-titleMain ul li .time{float: right;}

	/*弹框*/
	/*我的分享*/
	#cyq-shareAll{position:fixed;width:160px;background:white;margin-top:45px;margin-left:5px;box-shadow: 0 0 5px #EEE;display: none;}
	#cyq-shareAll div{width:150px;height:30px;color:#7F7F7F;padding-left:10px;margin-top:10px;line-height:25px;font-size:14px;cursor: pointer;}
	#cyq-shareAll div:hover{background: #EEEEEE;}
	/*更多*/
	#cyq-shareList{position:fixed;width:240px;height:140px;background: white;box-shadow: 0 0 5px #EEE;margin-left: 880px;margin-top: 50px;display: none}
	#cyq-shareList .cyq-listTitle{width: 200px;height: 20px;padding: 10px;font-size: 16px;font-weight: bold;text-align: center;border-bottom: 1px solid #EEEEEE;margin-left: 10px}
	#cyq-shareList .cyq-listTitle .listClose{float:right;color: #A6A6A6;font-size: 20px;font-weight: normal;cursor: pointer;}
	#cyq-shareList .cyq-actList div{width: 240px;height: 40px;padding-left: 10px;line-height: 40px;color:#808080;cursor: pointer;}
	#cyq-shareList .cyq-actList div:hover{background: #EEEEEE;}
	#cyq-shareList .cyq-actList a{margin-left:10px;margin-right:20px;}

	/*查找成员*/
	#cyq-shareMember{position:fixed;width: 200px;background: white;box-shadow: 0 0 5px #EEE;font-size:16px;margin-left: 350px;margin-top: 18%;display: none;border:1px solid #EEE; }
	/*#cyq-shareMember .memberSearch{width:170px;height:30px;text-align:center;border-radius:5px;border:1px solid #A6A6A6;margin:10px 10px;}
	#cyq-shareMember .memberSearch input{width:170px;height:30px;border:0px;color:#A6A6A6;border-radius:5px;font-size:16px;}
	*/	
	#cyq-shareMember .members div{width:200px;height:30px;margin:10px 0px;color:#A6A6A6;}
	#cyq-shareMember .members div:hover{background:#F7F7F7;cursor:pointer;}
	#cyq-shareMember .members .allMember{padding-left: 10px;width:190px;}
	#cyq-shareMember .members .member1 .cyq-head{float:left;margin-top:3px;margin-right:10px;}
	#cyq-shareMember .members .member1 .cyq-head img{width: 24px;height: 24px;border-radius:12px;overflow:hidden;margin-left:10px;}
	#cyq-shareMember .members .member1 a{float: left;}
	.cyq-check{float:right;margin-top:10px;margin-right:15px;}
	#share_thisId{width:0px;height:0px;}
	/*添加分享*/
	#cyq-editShare{display:none;width: 1200px;height: 700px;background: rgba(71,71,71,0.7);position: fixed;top: 0px;}
	#cyq-shareEdit{width: 1100px;height: 630px;background: white;margin:0 auto;margin-top: 100px;}
	#cyq-shareEdit .cyq-editTitle{width: 1040px;height: 80px;border-bottom: 1px solid #E0E0E0;padding-top: 20px;margin: 0 auto;font-size: 22px;}
	#cyq-shareEdit .cyq-editTitle .editClose{float: right;color: #ADADAD;cursor: pointer;}
	#cyq-shareEdit .cyq-editTitle .editTxt{margin-left:220px;margin-top:20px;width: 600px;height: 30px;font-size: 18px;text-align: center;border: 0;}
	#cyq-shareEdit .cyq-editmassage{width:1040px;height:380px;border-bottom: 1px solid #E0E0E0;padding-top: 20px;margin: 0 auto;}
	#cyq-shareEdit .cyq-editmassage .textarea{width: 1040px;height: 380px;}
	#cyq-shareEdit .cyq-editmassage .textarea textarea{border:0px;width:1040px;height:360px;}
	#cyq-shareEdit .textPublish{width: 1040px;height: 50px;margin:10px auto;}
	#cyq-shareEdit .textPublish .publish{width:100px;height: 40px;background: #14B4FC;float: right;text-align: center;line-height: 40px;color: white;margin-top: 5px;border-radius: 5px;cursor: pointer;}
	#cyq-shareEdit .textPublish .update{width:100px;height: 40px;background: #14B4FC;float: right;text-align: center;line-height: 40px;color: white;margin-top: 5px;border-radius: 5px;cursor: pointer;display: none;}
	/*评论*/
	#cyq-shareComment{line-height:33px;position:absolute;bottom:0px;width:770px;height:60px;background:#E6E6E6;margin-left:330px;border-radius:5px;}
	.cyq-comments{width:740px;margin:12px auto;height:35px;background:white;padding-left:10px;}
	.cyq-comments a{color:#AAA6B8;float:left;}
	.cyq-comments .cyq-content{width:650px;float:left;margin-left:10px;border-left:1px solid #AAA6B8;height:20px;margin-top:8px;padding-top:0px}
	.cyq-comments .cyq-content input{width:630px;border:0px;margin-top:0px;margin-left:10px;line-height:20px;float:left;}
	.cyq-commentInset{float:left;font-size:16px;color:white;width:43px;height:30px;background:#36BCF7;line-height:30px;padding-left:10px;border-radius:5px;margin-top:3px;cursor:pointer;}


/*主页*/
	#cyq-proIndex{width:1100px;height:95%;margin:0 auto;margin-top:20px;position: relative;overflow:hidden}
	/*left*/
	#cyq-proIndex .cyq-indexLeft{width:700px;height:90%;float:left;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop{width:700px;height:95px;background: white;}
	#cyq-proIndex .cyq-indexLeft .cyq-todayPro{width:700px;height:110px;background: white;margin-top: 20px;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop div{margin-top:15px;float: left;width: 179px;height: 55px;text-align: center;font-size: 16px;color: #A6A6A6;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop div p:hover{color:#03A9F4;cursor: pointer;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop div:first-child{height: 95px;margin-top: 0px;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop div a{font-size: 32px;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop .cyq-edit{border-left:1px solid #EFEFEF;border-right:1px solid #EFEFEF;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop .cyq-head{width:160px;height:95px;background:#EEEEEE;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop .cyq-head img{float:left;width: 60px;height: 60px;border-radius:30px;margin-top:15px;margin-left:10px;}
	#cyq-proIndex .cyq-indexLeft .cyq-leftTop .cyq-circle{width: 12px;height: 12px;background: white;border-radius: 6px;margin-top: 10px;margin-left: 10px;}

	#cyq-proIndex .cyq-indexLeft .cyq-trends .cyq-todayPro{padding-top:10px; }
	#cyq-proIndex .cyq-indexLeft .cyq-trends .cyq-todayPro a{margin: 10px 20px;font-size: 18px;color: #808080;}
	#cyq-proIndex .cyq-indexLeft .cyq-trends .cyq-todayPro .todayTrend{width:660px;height: 60px;margin:0px 20px;border-top:1px solid #E0E0E0;margin-top:10px;}
	/*right*/
	#cyq-proIndex .cyq-indexRight{width:400px;height:90%;float:left;}
	#cyq-proIndex .cyq-indexRight .cyq-rightTop{width:380px;height:150px;margin-left:20px;background: white;padding-top: 10px;}
	#cyq-proIndex .cyq-indexRight .cyq-evolve{width:380px;height:280px;margin-left:20px;background: white;margin-top: 20px;padding-top: 10px;}
	#cyq-proIndex .cyq-indexRight .cyq-rightTop .tastCount{width: 340px;height: 100px;margin:0px 20px;border-top:1px solid #E0E0E0;margin-top:10px;}
	#cyq-proIndex .cyq-indexRight .cyq-evolve .tastEvolve{width: 340px;height: 230px;margin:0px 20px;border-top:1px solid #E0E0E0;margin-top:10px;}
	#cyq-proIndex .cyq-indexRight .cyq-rightTop a{color:#808080;font-size: 18px;margin-left:20px;}
	#cyq-proIndex .cyq-indexRight .cyq-evolve a{color:#808080;font-size: 18px;margin-left:20px;}
	#cyq-proIndex .cyq-indexRight .cyq-rightTop .tastCount li{float:left;width: 110px;height: 90px;padding-top: 20px;color:#A6A6A6;font-size: 16px;}
	#cyq-proIndex .cyq-indexRight .cyq-rightTop .tastCount li p{font-size: 42px;}
	.cyq-countP2{color:#3BD876;}
	.cyq-countP3{color:#E54D48;}
	.cyq-comments i{cursor:pointer;color:#03A9F4;}
	#cyq-thisComment{color:white;background:#36BCF7;position:absolute;top:300px;left:300px;width:100px;height:30px;border:1px solid lightgray;border-radius:5px;line-height:30px;padding-left:5px;display:none;}
	/*新任务*/
	#cyq-newTast{display:none;width: 1200px;height: 700px;background: rgba(71,71,71,0.7);position: fixed;top: 0px;}
	#cyq-newTast .cyq-create{background:#FAFAFA;width:600px;height:450px;margin:100px auto;border-radius: 5px;}
	#cyq-newTast .cyq-create .editClose{float: right;color: #A6A6A6;font-size: 24px;cursor: pointer;}
	#cyq-newTast .cyq-create div:first-child{padding:10px 20px;margin:20px auto;width: 540px;height: 35px;border-bottom: 1px solid #E0E0E0;font-size: 20px;}
	#cyq-newTast .cyq-create .cyq-tastContent{border:1px solid #E6E6E6;width:560px;height:80px;margin:20px auto;background:white;border-radius:5px;}
	#cyq-newTast .cyq-create .cyq-tastContent textarea{width:540px;height:60px;margin:10px 10px;border:0;font-size:14px;}
	
	#cyq-newTast .cyq-create .cyq-execute{border:1px solid #E6E6E6;width:560px;height:80px;margin:20px auto;background:white;border-radius:5px;}
	#cyq-newTast .cyq-create .cyq-execute li{float:left;width:125px;font-size:12px;color:#808080;margin-top:10px;margin-left:10px;border-right:1px solid #E6E6E6; }
	#cyq-newTast .cyq-create .cyq-execute li:first-child{margin-left:20px;}
	#cyq-newTast .cyq-create .cyq-execute .cyq-lastLi{border:0px;}
	#cyq-newTast .cyq-create .cyq-execute li a{font-size:16px;cursor:pointer;margin-top:10px;}
	#cyq-newTast .cyq-create .cyq-execute li a:hover{color:#1FB2F5;}
	#cyq-newTast .cyq-create .cyq-execute li div{float:left;}
	#cyq-newTast .cyq-create .cyq-execute li img{width: 24px;height: 24px;border-radius:12px;margin-right:10px;}
	#cyq-newTast .cyq-create .cyq-execute .cyq-imgName{margin-top:0px;}

	#cyq-newTast .cyq-create .cyq-participant{border:1px solid #E6E6E6;width:560px;height:80px;margin:20px auto;background:white;border-radius:5px;}
	#cyq-newTast .cyq-create .cyq-participant img{width:26px;height:26px;border-radius:13px;float:left;margin-left:10px;margin-top:10px;}
	#cyq-newTast .cyq-create .cyq-participant h5{margin-top:5px;margin-left:10px;color:#808080;}
	#cyq-newTast .cyq-create .cyq-participant i{font-size:28px;color:#03A9F4;margin-left:10px;margin-top:10px;float:left;cursor:pointer;}
	#cyq-newTast .cyq-create .cyq-createNew{width:600px;height:80px;border-top:1px solid #E6E6E6;}
	#cyq-newTast .cyq-create .cyq-createNew .cyq-creNewtast{width:50px;height:18px;float:right;background:#14B4FC;margin-right:20px;margin-top:10px;border-radius:5px;color:white;cursor:pointer;}

	/*新日程*/
	#cyq-newSchedule{position: fixed;display:none;width: 1200px;height: 700px;background: rgba(71,71,71,0.7);top: 0px;}
	#cyq-newSchedule .cyq-create{background:#FAFAFA;width:600px;height:550px;margin:100px auto;border-radius: 5px;}
	#cyq-newSchedule .cyq-create .editClose{float: right;color: #A6A6A6;font-size: 24px;cursor: pointer;}
	#cyq-newSchedule .cyq-create div:first-child{padding:10px 20px;margin:20px auto;width: 540px;height:35px;border-bottom: 1px solid #E0E0E0;font-size:20px;}

	/*右边的滑动*/
	#cyq-shareBox{display:none;margin-left:0px;margin-top:0px;width:560px;height:800px;background:white;box-shadow:1px 1px 5px gray;border-radius:5px;padding-top:20px; position:fixed;top:52px;z-index:103;}
	.cyq-shareBoxtitle{width:520px;height:50px;margin-left:20px}
	.cyq-shareBoxarticle{width:520px;height:200px;margin-top:20px;margin-left:20px}
	.cyq-shareBoxcomment{width:520px;height:200px;margin-top:20px;margin-left:20px;border:1px solid #EEE;border-radius:5px;box-shadow:1px 1px 5px #EEEEEE;}
	.cyq-shareBoxmore{float:right;cursor:pointer;}
	.cyq-shareBoxcomment li{margin-left:20px;margin-top:10px;line-height:20px;color:#A6A6A6;width:500px;font-size:14px;}
	.cyq-shareBoxcomment .time{float:right;margin-right:10px}
	.cyq-shareBoxactor{width:520px;height:70px;border:1px solid #EEEEEE;box-shadow:1px 1px 5px #EEE;border-radius:5px;margin-left:20px;font-size:12px;font-weight:bold;color:#808080;padding-top:10px;}
	.cyq-shareBoxactor .party{margin-left:10px;margin-top:20px;}
	.cyq-shareBoxactor .cyq-circle{cursor: pointer;float: left;color:#03A9F4;font-size:30px;margin-top:8px;margin-left:10px;}
	.cyq-shareBoxactor .cyq-head{float:left;margin-right:10px;}
	.cyq-shareBoxactor .cyq-head img{cursor: pointer;width:30px;height: 30px;border-radius: 15px;float: left;margin-top: 10px;margin-left: 12px;overflow: hidden;text-align: center;}
	
	#cyq-boxComment{position:fixed;bottom:0px;width:540px;height:45px;background:#E6E6E6;box-shadow:0 0 5px gray;border:1px solid lightgray;border-radius:3px;}
	.cyq-shareBoxinput{margin-top:5px;margin-left:10px;width:520px;height:35px;border-radius:3px;background:white;border:1px solid lightgray;}
	.cyq-shareBoxinput input{width:400px;height:30px;float:left;margin-left:10px;margin-top:5px;font-size:16px;border:0px;}
	.cyq-shareBoxsub{float:left;margin-left:15px;margin-top:3px;width:46px;height:30px;background:#03A9F4;line-height:30px;padding-left:14px;border-radius:5px;color:white;cursor:pointer;}
	.cyq-shareBoxinput i{float:left;color:#03A9F4;margin-left:10px;margin-top:10px;}

	/*5.27 林育群 每日动态*/
	.cyq-trends .lyq-review{width:99%;margin-top:20px}
	.cyq-trends .lyq-review .review-card{margin-bottom:20px;box-shadow:rgba(0,0,0,.0470588)0 2px 3px 0;position:relative;border-radius:2px;background:white;}
	.cyq-trends .lyq-review .review-card .card-head{color:grey;font-size:18px;margin: 0 15px;padding: 10px 15px 10px 5px;line-height:30px;border-bottom: 1px solid rgba(0,0,0,.12);}
	.cyq-trends .lyq-review .review-card .review-list li{position:relative;padding: 18px 0;border-bottom: 1px solid rgba(0,0,0,.07);height:40px;}
	.cyq-trends .lyq-review .review-card .review-list li div{float:left;height:40px;margin-left:10px;line-height:40px;}
	.cyq-trends .lyq-review .review-card .review-list li .review-face{width:40px;height:40px;overflow:hidden;border-radius:20px;}
	.cyq-trends .lyq-review .review-card .review-list li .review-face img{height:40px;margin-right: 10px}
	.cyq-trends .lyq-review .review-card .review-list li .review-owner{width:60px;}
	.cyq-trends .lyq-review .review-card .review-list li .review-content{color:gray;width:500px;}
	.cyq-trends .lyq-review .review-card .review-list li .review-content a{margin-left:50px;}
	.cyq-trends .lyq-review .review-card .review-list li .review-content:hover{color:#1aa9f5;cursor:pointer;}
	.cyq-trends .lyq-review .review-card .review-list li .review-time{position:relative;left:0px;}

	/*6.04 林育群 今日任务进展*/
	.cyq-evolve .tastEvolve .lyq-Evolve{width:100%;margin: 50px auto;}
	.cyq-evolve .tastEvolve .lyq-Evolve li div{height:20px;float: left;}
	.cyq-evolve .tastEvolve .lyq-Evolve li span{margin-left:5px;float:left;}
	.cyq-evolve .tastEvolve .lyq-Evolve .lyq-todayFinish{margin-top: 10px;margin-bottom: 50px;color:#3BD876;}
	.cyq-evolve .tastEvolve .lyq-Evolve .lyq-todayFinish div{background: #3BD876;}
	.cyq-evolve .tastEvolve .lyq-Evolve .lyq-todayAdd{margin-top: 10px;color:#03A9F4;}
	.cyq-evolve .tastEvolve .lyq-Evolve .lyq-todayAdd div{background: #03A9F4;}

	/*新消息*/
	#lyq-news{position: fixed;display:none;width: 1200px;height: 700px;background: rgba(71,71,71,0.7);top: 0px;}
	#lyq-news .lyq-unread{overflow:auto;background:#FAFAFA;width:600px;height:550px;margin:100px auto;border-radius: 5px;}
	#lyq-news .lyq-unread .readClose{float: right;color: #A6A6A6;font-size: 24px;cursor: pointer;}
	#lyq-news .lyq-unread div:first-child{padding:10px 20px;margin:20px auto;width: 540px;height:35px;border-bottom: 1px solid #E0E0E0;font-size:20px;}
	#lyq-news .lyq-unread .news-content ul{width:90%;margin:10px auto;}
	#lyq-news .lyq-unread .news-content ul li{width:100%;margin-bottom:10px;padding:5px;box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);}
	#lyq-news .lyq-unread .news-content ul li a{width:80%;height:60px;background:rgba(0,0,0,0.1);display:block;float:left;}
	#lyq-news .lyq-unread .news-content ul li button{color:white;padding:20px;margin-left:10px;background:#72ce3f;border:1px solid #72ce3f;}


