@CHARSET "UTF-8";
#yue-diaryRight{ z-index:200; opacity:0;width:0px; background:white;overflow:hidden;position:fixed;top:52px;left:0px;box-shadow:0 0 15px gray;font-family:微软雅黑}
#yue-diaryRight #yue-diaryTitle{ width:100%;height:178px;background:#03A9F4}
#yue-diaryRight #yue-diaryTitle #yue-diaryTitleinfo h4{float:left;margin:15px 0 0 15px;color:white;font-size:18px;font-weight:400;}
#yue-diaryRight #yue-diaryTitle #yue-diaryTitleinfo span{float:right;margin:15px 15px 0 0;color:#81D4FA;cursor:pointer;}
#yue-diaryRight #yue-diaryTitle #yue-diaryTitleinfo span:hover{color:#ACE3FB}


#yue-diaryRight #yue-diaryTitle #yue-diaryTime{padding-top:80px;}
#yue-diaryRight #yue-diaryTitle #yue-diaryTime ul li{float:left;width:33%;border-right:1px solid #29B6F6}
#yue-diaryRight #yue-diaryTitle #yue-diaryTime ul li p{margin-left:15px;}
#yue-diaryRight #yue-diaryTitle #yue-diaryTime ul li p:first-child{color:#81D4FA;font-size:12px;}
#yue-diaryRight #yue-diaryTitle #yue-diaryTime ul li p:nth-child(2){color:white;font-size:14px;padding-top:5px;}



#yue-diaryRight #yue-diaryAbout > div{border-radius:5px;color:#A6A9AA;width:95%;border:1px solid #EEE;height:100%;line-height:30px;margin:0 auto;margin-top:15px;}
.yue-bc{float:right;cursor:pointer;width:50px;height:30px;border-radius:5px;background:#04A7F0;text-align:center;color:white;margin:0 10px 10px 10px;}
.yue-qx{float:right;cursor:pointer}
.yue-qx:hover{float:right;cursor:pointer;color:gray}
.yue-taskedit{display:none;}
.yue-tasktxt{width:100%;border:0px;}
#yue-taskRight #yue-taskAbout > div#yue-sontask:hover{cursor:pointer;color:#04A7F0}
#yue-taskRight #yue-taskAbout > div#yue-taskclause:hover{cursor:pointer;color:#04A7F0}
#yue-taskRight #yue-taskAbout > div > i{margin-left:15px;}



#yue-diaryinteract{width:95%;border:1px solid #EEE;margin:15px auto 0 auto;border-radius:5px;}
#yue-diaryinteract #yue-diarypartake{padding-bottom:10px;border-bottom:1px solid #EEE}
#yue-diaryinteract #yue-diarypartake p:first-child{margin-left:15px;font-size:13px;font-weight:bold;color:#7E7E7E;margin-top:10px;}
#yue-diaryinteract #yue-diarypartake p:nth-child(2){margin-left:15px;}
#yue-diaryinteract #yue-diarypartake p:nth-child(2) img{width:20px;height:20px;border-radius:10px;position:relative;top:4px;cursor:pointer;}
#yue-diaryinteract #yue-diarypartake p:nth-child(2) img+img{margin-left:5px;}
#yue-diaryinteract #yue-diarypartake p:nth-child(2) #yue-diarypartakeadd{color:white;padding:0 5px 0 5px;;border-radius:10px;background:#04A7F0;margin-left:10px;cursor:pointer;}
#yue-diaryinteract #yue-diaryzan{color:#A6A9AA;padding:10px 0 10px 0;border-bottom:1px solid #EEE;}
#yue-diaryinteract #yue-diaryzan #yue-diaryzan{margin-left:15px;}
#yue-diaryinteract #yue-diaryzan span:hover{cursor:pointer;color:#04A7F0}


#yue-diaryinteract #yue-diaryactive{color:#A6A9AA;font-size:13px;}
#yue-diaryinteract #yue-diaryactive ul li{margin-top:15px;}
#yue-diaryinteract #yue-diaryactive ul li div i{margin-left:15px;width:20px;float:left}

