#mybox{
	width:100%;
	z-index:-100;
	display:block;
}
/*瀵艰埅鏉℃墍鍦╠iv*/
#header{
	width:100%;
	height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
}
/*瀵艰埅鏍峰紡*/
#menu{
	width:1100px;
	height:100%;
	background-color: #eee;
	transition: right 218ms ease;
	margin: 0px auto;
	position: relative;
}
/*瀵艰埅鎸夐挳*/
#menu li{
	list-style: none;
	float: left;
	line-height: 20px;
	margin-bottom:-2px; 
}
/*鎸夐挳瀛椾綋*/
#menu li a{
  	background-color: transparent;
  	display: inline-block;
	position: relative;
	height: 15px;
	margin: 0 20px;
	padding: 15px 5px;
	color: #383838;
	font-size: 15px;
	font-family:寰蒋闆呴粦;
}
.bor{
	border-bottom:5px solid #03a9f4;
}
/*涓績閮ㄥ垎1*/
#box #body1{
	position: absolute;
  	top: 120px;
  	bottom: 30px;
  	width: 100%;
  	padding-top: 20px;
  	overflow-y: auto;
  	overflow-x: hidden;
}
#box #body1 div{
	margin: 0 auto;
  	width: 1100px;
  	height:400px;
  	background: white;
}
/*涓績閮ㄥ垎2*/
#box #body2{
	position: absolute;
  	top: 120px;
  	bottom: 30px;
  	width: 100%;
  	padding-top: 20px;
  	overflow-y: auto;
  	overflow-x: hidden;
  	display: none;
}
#box #body2 div{
	margin: 0 auto;
  	width: 1100px;
  	height:400px;
  	background: red;
}
/*鏈�悗鎼滅储鎸夐敭*/
#box #footer{
	position: absolute;
  	left: 0;
  	bottom: 0;
  	height: 29px;
  	width: 100%;
  	cursor: pointer;
  	text-align: center;
  	line-height: 25px;
  	background-color: #eee;
  	z-index: 1;
  	border-top: 1px solid #d9d9d9;
}