@CHARSET "UTF-8";
#mybox{width:100%;position:absolute;top:52px;background:#EEE;display:none;z-index:105}
#mybox #mynavigtor{width:960px;height:50px;margin:0 auto;}
#mybox #mynavigtor li{cursor:pointer;margin-right:25px;float:left;font-size:14px;font-family:微软雅黑;line-height:46px;cursor:pointer;}
#mybox #mynavigtor .my_select{border-bottom:4px solid #03A9F4;margin-right:25px;line-height:46px;}
#mybox #my_content{width:960px;padding:10px;margin:0 auto;background:white;margin-top:15px;font-family:微软雅黑;}
#mybox #my_content h3{border-bottom:4px solid #EDEDED;padding-bottom:10px;}
#mybox #totop{width:100%;position:fixed;text-align:center;}
#mybox #totop:hover{background:gray;cursor:pointer}	

/*我的笔记*/
#mybox #my_noteContent{width:960px;padding:10px;margin:0 auto;background:white;margin-top:15px;font-family:微软雅黑;}
#mybox #my_noteContent h3{border-bottom:4px solid #EDEDED;padding-bottom:10px;}
#my_noteContent .my_noteCreate{float:right;margin-right:5px;font-size:16px;width:60px;height:28px;color:white;
	font-weight:lighter;background:#03A9F4;border-radius:3px;line-height:28px;padding-left:5px;cursor:pointer;}
#my_noteContent .my_noteCreate i{margin-right:5px;}
/*创建笔记*/
#noteCreate{display:none;padding-top:8px;width:960px;margin-top:20px;border-radius:3px;box-shadow:1px 0 5px #EEE;}
#noteCreate div{width:920px;height:35px;margin:0 auto;line-height:35px;}
#noteCreate input{width:920px;height:30px;font-size:20px;line-height:30px;border:0px;}
#noteCreate .my_noteTarea{height:135px;border-bottom:1px solid #EEEEEE;margin-top:0px;}
#noteCreate textarea{width:920px;font-size:18px;line-height:30px;height:120px;border:0px;}

/*编辑笔记*/
#my_noteContent li{padding-top:8px;width:960px;margin-top:20px;border-radius:3px;box-shadow:1px 0 5px #EEE;}
#my_noteContent li div{width:920px;height:35px;margin:0 auto;line-height:35px;}
#my_noteContent li input{width:920px;height:30px;font-size:20px;line-height:30px;border:0px;}
#my_noteContent li .my_noteTarea{height:135px;border-bottom:1px solid #EEEEEE;margin-top:0px;}
#my_noteContent li textarea{width:920px;font-size:18px;line-height:30px;height:120px;border:0px;}
#my_noteContent .createMynote{float:right;width:45px;height:28px;background:#03A9F4;margin-top:5px;line-height:28px;border-radius:3px;padding-left:10px;color:white;cursor:pointer;font-size:16px;margin-left:20px;}
#my_noteContent .conserveMynote{float:right;width:45px;height:28px;background:#03A9F4;margin-top:5px;line-height:28px;border-radius:3px;padding-left:10px;color:white;cursor:pointer;font-size:16px;margin-left:20px;}
#my_noteContent .cancelMynote{float:right;width:45px;height:28px;margin-top:5px;line-height:28px;border-radius:3px;padding-left:10px;color:#808080;cursor:pointer;font-size:16px;}
#my_noteContent .cancelMynote:hover{color:#03A9F4;}
#my_noteContent li a{cursor:pointer;color:#808080;}
#my_noteContent li a:hover{color:#03A9F4;}
#my_noteContent li a i{margin-right:10px;}
#my_noteContent .my_noteDelete{display:none;}
/*-------*/
