<meta charset="UTF-8">
<extend name='./Public/Tpl/Admin_index.html' />
<block name="main"> <script type="text/javascript"
	src="__PUBLIC__/JS/css-browser-select.js"></script>
<div class="div_from_aoto">
	<div class='lyq-term'>
		<div role="tabpanel" class="tab-pane" id="user">
			<div class="check-div form-inline" style="height:45px;">
				<div class="col-xs-3">
					<a class="btn btn-yellow btn-xs"  href="{:U('Album/album_add')}">添加相册</a>
				</div>
				<!-- <div class="col-xs-4">
					<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
					<button class="btn-white btn-xs ">查 询</button>
				</div> -->
			</div>

			<table class="album-data-div" width="100%">
				<tr class="tableHeader">
					<td>编号</td>
					<td>相册名称</td>
					<td>相册封面</td>
					<td>相册简介</td>
					<td>操作</td>
				</tr>
				<foreach name='list' item='val'>
				<tr class="tablebody">
					<td class="col-xs-2" height="120px">{$val['id']}</td>
					<td class="col-xs-2">{$val['album_name']}</td>
					<td class="col-xs-2"><img class="album_img" src='__PUBLIC__/images/albumImg/{$val['album_image']}'></td>
					<td class="col-xs-2">{$val['album_introduce']}</td>
					<td class="col-xs-2" par={$val['id']}>
						<a class="btn btn-success btn-xs edit-btn" href="{:U('Album/album_edit')}">修改</a>
						<a class="btn btn-danger btn-xs del-btn">删除</a>
					</td>
				</tr>
				</foreach>
			</table>
		</div>
	</div>
</div>
<div class="quotes">{$page}</div>
<script type="text/javascript">
	$('.tableCell').click(
			function() {
				$(this).addClass('recommended').siblings().removeClass(
						'recommended').children().children('.price3')
						.removeClass('price3').addClass('price1');
				$(this).children().children('.price1').addClass('price3')
						.removeClass('price1');
				var par = $(this).attr('par');
				$("td[par='" + par + "']").addClass('recommended').siblings()
						.removeClass('recommended');
			});
	$('.edit-btn').click(function() {
		var par = $(this).parent().attr('par');
		var url = $(this).attr('href');
		url = url + '?id=' + par;
		$(this).attr('href', url);
	});
	
	$('.del-btn').click(function(){
		var par = $(this).parent().attr('par');
		layer.alert('',{
			icon:2,title:'删除确认',content:'您确定要删除这条记录吗？',closeBtn:1},function(index){
			$.ajax({
				type: "GET",
				url: '{:U("Album/album_del")}',
				data: {id:par},
				dataType: "json",
				success: function(data){
					refresh(1,data.msg)
				}
			});
		    layer.close(index);
		});
	})
</script> </block>

<block name="type">相册列表</block>