<meta charset="UTF-8">
<block name="main">

<script type="text/javascript" src="__PUBLIC__/JS/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/tendina.min.js"></script>


<link rel="stylesheet" href="__PUBLIC__/CSS/admin.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/CSS/admin_common.css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/CSS/bootstrap.min_new.css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/CSS/Page.css" type="text/css" media="screen" />
<div class="div_from_aoto">
	<div class='lyq-term'>
		<div role="tabpanel" class="tab-pane" id="user">
			<div class="check-div form-inline" style="height:45px;">
				<!-- <div class="col-xs-4">
					<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
					<button class="btn-white btn-xs ">查 询</button>
				</div> -->
			</div>

			<table class="photo-data-div" width="100%">
				<tr class="tableHeader">
					<td>选择</td>
					<td>编号</td>
					<td>照片</td>
					<td>排序</td>
					<td>是否禁用</td>
				</tr>
				<foreach name='list' item='val'>
				<tr class="tablebody">
					<td class="col-xs-1"><input type="checkbox" name="chose" value="{$val['id']}"/></td>
					<td class="col-xs-1" height="120px">{$val['id']}</td>
					<td class="col-xs-2"><img class="photo_img" src='__PUBLIC__/images/photoImg/{$val['photo_image']}'></td>
					<td class="col-xs-1">{$val['sort']}</td>
					<td class="col-xs-1">
						<if condition="($val['is_delete'] eq 0)">
							<img class="delete_on" src="__PUBLIC__/images/delete_on.png">
						<else />
							<img class="delete_off" src="__PUBLIC__/images/delete_off.png">
						</if>
					</td>
				</tr>
				</foreach>
				<tr>
					<td>
						<div class="controls"><button type="button" id="add_btn" class="btn btn-success" style="width: 120px;">提交</button></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="quotes">{$page}</div>
<script type="text/javascript">
	$('#add_btn').click(function(){
		var photo_ids = [];
		$("input[name='chose']:checked").each(function(i){
			photo_ids[i] =$(this).val();
        });
		var album_id = {$album_id};
		if(photo_ids.length > 0){
			$.ajax({
				type: "POST",
				url: '{:U("Album/relation_photo_add")}',
				data: {photo_ids:photo_ids,album_id:album_id},
				dataType: "json",
				success: function(data){
					refresh(1,data.msg)
				}
			});
		}
		
	})
</script> </block>

