<meta charset="UTF-8">
<extend name='./Public/Tpl/Admin_index.html' />
<block name="main">
<script type="text/javascript" src="__PUBLIC__/JS/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugin/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/tendina.min.js"></script>


<link rel="stylesheet" href="__PUBLIC__/CSS/admin.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/CSS/admin_common.css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/CSS/bootstrap.min_new.css" media="screen">
<link rel="stylesheet" href="__PUBLIC__/CSS/Page.css" type="text/css" media="screen" />
<div class="div_from_aoto">
	<div class='lyq-term'>
		<div role="tabpanel" class="tab-pane" id="user">
			<div class="check-div form-inline" style="height:45px;">
				<div class="col-xs-3">
					<a class="btn btn-yellow btn-xs relation-photo-add" par={$album_id}>添加照片</a>
				</div>
				<!-- <div class="col-xs-4">
					<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
					<button class="btn-white btn-xs ">查 询</button>
				</div> -->
			</div>

			<table class="photo-data-div" width="100%">
				<tr class="tableHeader">
					<td>编号</td>
					<td>照片</td>
					<td>操作</td>
				</tr>
				<foreach name='list' item='val'>
				<tr class="tablebody">
					<td class="col-xs-1" height="150px">{$val['id']}</td>
					<td class="col-xs-2"><img class="relation_photo_img" src='__PUBLIC__/images/photoImg/{$val['photo_image']}'></td>
					<td class="col-xs-1" par={$val['id']}>
						<a class="btn btn-danger btn-xs del-btn" id="del-btn">删除</a>
					</td>
				</tr>
				</foreach>
			</table>
		</div>
	</div>
</div>
<div class="quotes">{$page}</div>
<script type="text/javascript">
	$('.del-btn').click(function(){
		var par = $(this).parent().attr('par');
		layer.alert('',{
			icon:2,title:'删除确认',content:'您确定要删除这条记录吗？',closeBtn:1},function(index){
			$.ajax({
				type: "GET",
				url: '{:U("Album/relation_photo_del")}',
				data: {id:par},
				dataType: "json",
				success: function(data){
					refresh(1,data.msg)
				}
			});
		    layer.close(index);
		});
	})
	
	$('.relation-photo-add').click(function(){
		var par = 33;
		layer.open({
	        title:'<img src="{sh::RES}image/add.gif">&nbsp;添加关联照片',
	        type: 2,
	        area: ['700px', '530px'],
	        fix: false, //不固定
	        maxmin: true,
	        content: "{:U('Album/relation_photo_add',array('album_id'=>$album_id))}",
	        success:function(layero,index){
	        },
	        end:function(){
	            var handle_status = $("#handle_status").val();
	            if ( handle_status == '1' ) {
	                layer.msg('添加成功！',{
	                    icon: 1,
	                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
	                },function(){
	                    history.go(0);
	                });
	            } else if ( handle_status == '2' ) {
	                layer.msg('添加失败！',{
	                    icon: 2,
	                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
	                },function(){
	                    history.go(0);
	                });
	            }
	        }
	    });
	})
	
	
	
	
</script> </block>
<block name="type">关联照片</block>