<meta charset="UTF-8">
<extend name='./Public/Tpl/Admin_index.html' />
<block name="main"> <script type="text/javascript" src="__PUBLIC__/JS/css-browser-select.js"></script>
<div class="div_from_aoto">
	<div class='lyq-term'>
		<div role="tabpanel" class="tab-pane" id="user">
			<div class="check-div form-inline" style="height:45px;">
				<div class="col-xs-3">
					<a class="btn btn-yellow btn-xs"  href="{:U('Photo/photo_add')}">添加关联照片</a>
				</div>
				<!-- <div class="col-xs-4">
					<input type="text" class="form-control input-sm" placeholder="输入文字搜索">
					<button class="btn-white btn-xs ">查 询</button>
				</div> -->
			</div>

			<table class="photo-data-div" width="100%">
				<tr class="tableHeader">
					<td>选择</td>
					<td>编号</td>
					<td>照片</td>
					<td>排序</td>
					<td>是否禁用</td>
					<td>操作</td>
				</tr>
				<foreach name='list' item='val'>
				<tr class="tablebody">
					<td class="col-xs-1"><input type="checkbox" name="chose" value="1"/></td>
					<td class="col-xs-1" height="120px">{$val['id']}</td>
					<td class="col-xs-2"><img class="photo_img" src='__PUBLIC__/images/photoImg/{$val['photo_image']}'></td>
					<td class="col-xs-1">{$val['sort']}</td>
					<td class="col-xs-1">
						<if condition="($val['is_delete'] eq 0)">
							<img class="delete_on" src="__PUBLIC__/images/delete_on.png">
						<else />
							<img class="delete_off" src="__PUBLIC__/images/delete_off.png">
						</if>
					</td>
					<td class="col-xs-1" par={$val['id']}>
						<a class="btn btn-success btn-xs edit-btn" href="{:U('Photo/photo_edit')}">修改</a>
						<a class="btn btn-danger btn-xs del-btn">删除</a>
					</td>
				</tr>
				</foreach>
			</table>
		</div>
	</div>
</div>
<div class="quotes">{$page}</div>
<script type="text/javascript">
	$('.tableCell').click(
			function() {
				$(this).addClass('recommended').siblings().removeClass('recommended').children().children('.price3').removeClass('price3').addClass('price1');
				$(this).children().children('.price1').addClass('price3').removeClass('price1');
				var par = $(this).attr('par');
				$("td[par='" + par + "']").addClass('recommended').siblings().removeClass('recommended');
			});
	$('.edit-btn').click(function() {
		var par = $(this).parent().attr('par');
		var url = $(this).attr('href');
		url = url + '?id=' + par;
		$(this).attr('href', url);
	});
	
	$('.del-btn').click(function(){
		var par = $(this).parent().attr('par');
		layer.alert('',{
			icon:2,title:'删除确认',content:'您确定要删除这条记录吗？',closeBtn:1},function(index){
			$.ajax({
				type: "GET",
				url: '{:U("Photo/photo_del")}',
				data: {id:par},
				dataType: "json",
				success: function(data){
					refresh(1,data.msg)
				}
			});
		    layer.close(index);
		});
	})
</script> </block>

<block name="type">添加关联列表</block>